@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

:root {
 --bg-color: #f7f5f7;
 --font-andika: 'Andika', sans-serif;
 --font-roboto: 'Roboto', sans-serif;
 --brd-rd: 0.5rem;
 --strange-shape: 61% 39% 49% 51% / 31% 60% 40% 69%;
 --transition: 0.3s linear;
 --brd-hover: rgba(255, 255, 255, 0.300) 3px dotted;
}

*,
::after,
::before {
 margin: 0;
 padding: 0;
 outline: 0;
 box-sizing: border-box;
}

html {
 scroll-behavior: smooth;
}

body::-webkit-scrollbar {
 display: none;
}

h3 {
 color: teal;
 font-size: 1.4rem;
}

body {
 background-color: var(--bg-color);
}

nav {
 padding: 0 8rem;
 box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
 background-color: #f0f0f0;
}

.nav-flex {
 font-family: var(--font-roboto);
 font-weight: 700;
 padding: 1rem;
 display: flex;
 margin: 0 auto;
 justify-content: space-between;
 align-items: center;
}

.nav-flex ul {
 display: flex;
 gap: 1rem;
}

.nav-flex li {
 list-style: none;
}

.nav-flex a {
 color: teal;
 font-size: 1.2rem;
 text-decoration: none;
 transition: var(--transition);
}

a:hover {
 font-size: 1.3rem;
 transition: var(--transition);
}

.old {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 width: 90%;
 place-items: center;
 touch-action: cross-slide-x;
 margin: 5rem auto;
 gap: 3rem 0;
}

.card {
 width: 9rem;
 height: 7.5rem;
 border-radius: var(--strange-shape);
 display: flex;
 justify-content: center;
 align-items: center;
 color: transparent;
 box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.4);
 transition: all .35s;
}

.card2:hover {
 color: #160e85;
 transform: scale(1.1);
 box-shadow: 15px 15px 8px rgba(0, 0, 0, 0.4);
 transition: all .35s;
}

/* .old:hover .card:not(:hover) {
 background-color: #3d3d3d93 !important;
 opacity: .4;
 transform: scale(0.97);
} */

.elenco {
 opacity: .4;
 transform: scale(0.97);
}

.back-color {
 position: relative;
 border: none;
 color: #49A6E9;
 background-color: #000000;
 padding: 0.6rem;
 font-size: 0.7rem;
 border-radius: var(--brd-rd);
 opacity: .5;
 transition: 0.2s linear;
 display: none;
 max-width: 5rem;
}

.back-color:hover {
 filter: saturate(0.4);
 opacity: 1;
 cursor: pointer;
 transition: 0.2s linear;
}

.card:hover .back-color {
 display: flex;
}

.back-color::after {
 pointer-events: none;
 filter: opacity(0);
 text-align: center;
 font-family: var(--font-roboto);
 position: absolute;
 content: 'Copiado';
 top: 60px;
 left: -4px;
 width: 80px;
 padding: 8px 12px;
 border-radius: 8px;
 color: #49A6E9;
 background-image: linear-gradient(30deg, #000000, #1e1e1e);
 transition: var(--transition);
}

.back-color::before {
 pointer-events: none;
 filter: opacity(0);
 position: absolute;
 content: '';
 height: 10px;
 width: 10px;
 top: 56px;
 left: 30px;
 transform: rotate(45deg);
 background-image: linear-gradient(125deg, #000000, #1e1e1e, #1e1e1e, transparent, transparent);
 transition: .2s linear;
}

.active.back-color::after,
.active.back-color::before {
 filter: opacity(1);
 transition: var(--transition);
}

@media screen and (width < 768px) {
.nav-flex a {
  font-size: 1.1rem;
}

h3 {
  font-size: 1.1rem;
}

nav {
  padding: 0;
}

.old {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 gap: 0.7rem;
 margin: 2rem auto;
}

.card {
 transform: scale(0.8);
}

.card:hover {
 transform: scale(1);
}
}